<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Red Phone Personal Assistant</title>
</head>

<body>
    <div class="container mb-2 mt-2">
        <h1 class="mb-4">Red Phone Personal Assistant</h1>
    </div>
    <div class="container mb-4">
        <a href="/ring" class="btn btn-primary mb-4 btn-block w-100">Ring the phone now</a>
    </div>

    <div class="container mb-4">
        <a href="/stopring" class="btn btn-primary mb-4 btn-block w-100">Stop the phone ringing</a>
    </div>

    <div class="container mb-4">
        <form action="/sendMessage" method="POST">
            <div>
                <label for="message">Message:</label>
                <input type="text" id="message" name="message" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mt-4 btn-block w-100">Send the message</button>
        </form>
    </div>

    <div class="container mb-4">
        <form action="/sendQuestion" method="POST">
            <div>
                <label for="question">Question:</label>
                <input type="text" id="question" name="question" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mt-4 btn-block w-100">Send the question</button>
        </form>
    </div>

    <div class="container mt-3">
       <p> <%= message %> </p> 
    </div>
</body>
</html>